<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/delete?_method=PUT" method="post">
    <!-- 어떠한 데이터를 보낼때 사용 하는건 action -->
    <!-- form 태그는 NAME 을 무조건 사용해야 데이터를  서버로 넘길수있다 -->
    <h3>삭제하기</h3>
    
    <input type="hidden" name="_id" value= "<%= data._id %>">
    <input type="text" name="title" value= "<%= data.title %>">
    <input type="text" name="content" value= "<%= data.content %>">
    
    <button type="submit">완료</button>
    </form>

<!-- 내가 원하는 정보는 post 로 넘어간다.  업데이트 method 는 4가지 이지만 사용 할 수 있는건 2개 뿐이다. -->
    
</body>
</html>